{
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:all",
        "plugin:react/all"
    ],
    "parser": "@babel/eslint-parser",
    "plugins": [
        "react"
    ]
}